# Upstart configuration file for droned.

# scheme: {{ drone_scheme }}

# Command line options:
#
#   -datasource="drone.sqlite":
#   -driver="sqlite3":
#   -path="":
#   -port=":8080":
#
DRONED_OPTS="-port=:{{ drone_port }}{% if drone_sslcert %} -sslcert={{ drone_sslcert }}{% endif %}{% if drone_sslkey %} -sslkey={{ drone_sslkey }}{% endif %}"
