{% for user in drone_users %}
{% if user['state']|default('present') == 'absent' %}
DELETE FROM "users" WHERE email = '{{ user.email }}';
{% else %}
INSERT OR REPLACE INTO "users"
    (
        id,
        email,
        password,
        token,
        name,
        gravatar,
        created,
        updated,
        admin,
        github_login,
        github_token,
        bitbucket_login,
        bitbucket_token,
        bitbucket_secret
    )
    VALUES (
        {{ loop.index }},
        '{{ user.email }}',
{% if user['update_password']|default(False) %}
        '{{ user["password"]|default("") }}',
{% else %}
        COALESCE((SELECT password FROM users WHERE email = '{{ user.email }}'), '{{ user["password"]|default("") }}'),
{% endif %}
        COALESCE((SELECT token FROM users WHERE email = '{{ user.email }}'), '{{ user.email|md5|b64encode|truncate(40, True, '') }}' ),
        '{{ user.name }}',
        '{{ user.email|md5 }}',
        COALESCE((SELECT created FROM users WHERE email = '{{ user.email }}'), (datetime('now'))),
        COALESCE((SELECT updated FROM users WHERE email = '{{ user.email }}'), (datetime('now'))),
        {{ user["admin"]|default(True)|int }},
        '{{ user["github_login"]|default("") }}',
        '{{ user["github_token"]|default("") }}',
        '{{ user["bitbucket_login"]|default("") }}',
        '{{ user["bitbucket_token"]|default("") }}',
        '{{ user["bitbucket_secret"]|default("") }}'
    );
{% endif %}
{% endfor %}

{% for team in drone_teams %}
INSERT OR REPLACE INTO "teams"
    (
        id,
        slug,
        name,
        email,
        gravatar,
        created,
        updated
    )
    VALUES (
        {{ loop.index }},
        '{{ team["slug"]|default(team.name|lower|replace(" ", "-")) }}',
        '{{ team.name }}',
        '{{ team.email }}',
        '{{ team.email|md5 }}',
        COALESCE((SELECT created FROM teams WHERE email = '{{ team.email }}'), (datetime('now'))),
        COALESCE((SELECT updated FROM teams WHERE email = '{{ team.email }}'), (datetime('now')))
    );

{% set teamloop = loop %}
{% for member in team['members']|default([]) %}
INSERT OR REPLACE INTO "members"
    (
        team_id,
        user_id,
        role
    )
    VALUES (
        {{ teamloop.index }},
        (SELECT id FROM users WHERE email = '{{ member.email }}'),
        '{{ member["role"]|default("Read")|capitalize }}'
    );

{% endfor %}
{% endfor %}
INSERT OR REPLACE INTO "settings"
    (
        id,
        github_key,
        github_secret,
        github_domain,
        github_apiurl,
        bitbucket_key,
        bitbucket_secret,
        smtp_server,
        smtp_port,
        smtp_address,
        smtp_username,
        smtp_password,
        hostname,
        scheme,
        open_invitations
    )
    VALUES (
        1,
        '{{ drone_github_key }}',
        '{{ drone_github_secret }}',
        '{{ drone_github_domain }}',
        '{{ drone_github_apiurl }}',
        '{{ drone_bitbucket_key }}',
        '{{ drone_bitbucket_secret }}',
        '{{ drone_smtp_server }}',
        '{{ drone_smtp_port }}',
        '{{ drone_smtp_address }}',
        '{{ drone_smtp_username }}',
        '{{ drone_smtp_password }}',
        '{{ drone_hostname }}',
        '{{ drone_scheme }}',
        {{ drone_open_invitations|int }}
    );
